# USArray Seismometer Network Data Discovery #
This notebook will demonstrate accessing and visualing data about the USArray project.

The original data file was downloaded [here](http://ds.iris.edu/files/earthscope/usarray/_US-REF-StationList.txt) on November 17, 2019

If you want to learn more about USArray and the EarthScope project, visit the [USArray](http://www.usarray.org/) webpage.

**Imports**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
in_file = "../data/2019Nov17_US-REF-StationList.txt"

In [3]:
with open(in_file) as file:
    try:
        df = pd.read_csv(file, sep='\t')
    except:
        print('Error reading file')

In [4]:
df.head()

,VNET,NET,STA,SITE DESCRIPTION,LAT,LON,ELEV,START,END,STATUS,INSTALL,CERT
0,_US-REF,AK,BMR,"Bremner River, AK, USA",60.97,-144.61,842.0,2004/01/01,2599/12/31,Operating,NaN,NaN
1,_US-REF,AK,TNA,"Tin City, AK, USA",65.56,-167.93,74.0,2004/01/01,2599/12/31,Operating,NaN,NaN
2,_US-REF,AT,PMR,"Palmer, Alaska",61.59,-149.13,100.0,2004/01/01,2599/12/31,Operating,NaN,NaN
3,_US-REF,AT,SDPT,"Sand Point, Alaska",55.35,-160.48,74.0,2004/01/01,2599/12/31,Operating,NaN,NaN
4,_US-REF,AT,SMY,"Shemya, Alaska",52.73,174.10,58.0,2004/01/01,2599/12/31,Operating,NaN,NaN

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
LAT,121.0,40.931983,7.772801,27.55,35.14,40.20,44.59,65.56
LON,121.0,-97.300826,47.724259,-176.68,-115.66,-102.63,-87.83,174.10
ELEV,121.0,741.052893,713.100046,-413.00,200.00,478.00,1280.00,2743.00
INSTALL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CERT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 12 columns):
VNET                121 non-null object
NET                 121 non-null object
STA                 121 non-null object
SITE DESCRIPTION    121 non-null object
LAT                 121 non-null float64
LON                 121 non-null float64
ELEV                121 non-null float64
START               121 non-null object
END                 121 non-null object
STATUS              121 non-null object
INSTALL             0 non-null float64
CERT                0 non-null float64
dtypes: float64(5), object(7)
memory usage: 11.5+ KB

In [7]:
df['STATUS'].unique()

array(['Operating', 'Ended'], dtype=object)

In [ ]:
df['STATUS'].value_counts()

**It appears that both INSTALL and CERT are empty and so they can be dropped**

In [9]:
df.drop(labels=['INSTALL','CERT'], axis=1, inplace=True)

In [10]:
df.head()

,VNET,NET,STA,SITE DESCRIPTION,LAT,LON,ELEV,START,END,STATUS
0,_US-REF,AK,BMR,"Bremner River, AK, USA",60.97,-144.61,842.0,2004/01/01,2599/12/31,Operating
1,_US-REF,AK,TNA,"Tin City, AK, USA",65.56,-167.93,74.0,2004/01/01,2599/12/31,Operating
2,_US-REF,AT,PMR,"Palmer, Alaska",61.59,-149.13,100.0,2004/01/01,2599/12/31,Operating
3,_US-REF,AT,SDPT,"Sand Point, Alaska",55.35,-160.48,74.0,2004/01/01,2599/12/31,Operating
4,_US-REF,AT,SMY,"Shemya, Alaska",52.73,174.10,58.0,2004/01/01,2599/12/31,Operating